<main class="container">
    {{#each rows}}
        <div class="row top-buffer mb-4 animated fadeInUp">
            {{#each cols}}
                <div class="col">
                    <a href="/{{room.name}}">
                    <div class="card">
                        <div class="card-block text-center">
                            <h4 class="card-title">{{room.name}}</h4>

                            {{!-- Temporär grej --}}
                            <p class="location">{{room.location}}</p> 

                            {{#if available}}
                                <h6 class="card-subtitle mb-2 text-success">Available</h6>
                            {{else}}
                                <h6 class="card-subtitle mb-2 text-muted">In use</h6>
                            {{/if}} 
                        </div>
                    </div>
                    </a>
                </div>
            {{/each}}
        </div>
    {{else}}
        <h1>No rooms found, contact the website admin(s)</h1>
    {{/each}}
</main>
</body>
<script src="/client/js/index.js"></script>

<script>
    let url = 'http://localhost:2000/overview/room/updater';

    function Updater() {
        let xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                console.log(xhttp.responseText);
            }
        };
        xhttp.open("GET", url, true);
        xhttp.send();
    }

    setInterval(Updater, 10000);
</script>